<h1>Chat</h1>
<hr>

<div class="app-mensaje" id="app-mensaje">

  <div class="text-right">
    <span  class="badge badge-primary">Sinai</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>

  <div>
    <span  class="badge badge-success">Maria</span>
    <p>
      Saludos Sinai
    </p>
  </div>
  
  <div>
    <span  class="badge badge-success">Maria</span>
    <p>
      Saludos Sinai
    </p>
  </div>


</div>

<input type="text" name="mensaje"
        [(ngModel)]="mensaje"
        class="form-control"
        (keyup.enter)="enviar_mensaje()"
        placeholder="Enviar mensaje">
